@use '../abstract/variables' as *;

.fleamarket-cards {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.fleamarket-card {
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  background: $white;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 3rem;
    text-align: center;
    color: $white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: $etb-blue;
    gap: 0.2rem;
    padding-block: 0.5rem;
  }

  &__title {
    font-size: 1.0rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 1rem;
    margin-bottom: 0;
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1.2rem;
    padding-bottom: 0.5rem;
    //padding-block: 1.3rem;
    color: $grey-dark;
    gap: .3rem;

    p {
      font-size: 0.9rem;
      margin-bottom: 0.2rem;
    }
  }

  &__tags {
    position: absolute;
    top: 0;
    right: .3rem;

    & span {
      font-size: 0.65rem;
      padding: .25rem;
      color: $white;
      border-radius: .15rem;
    }

    &--approved {
      background: $etb-green;
    }

    &--confirm {
      background: $etb-blue-secondary;
    }

  }

  &__date {
    margin-top: 0.8rem;
  }

  &__date, &__info {
    padding-inline: .8rem;

    p {
      display: flex;
      align-items: center;
      word-wrap: break-word;

      span:nth-child(2) span {
        font-size: 0.8rem;
      }
    }

    .fas,
    .far {
      min-width: 1.6rem;
      color: $etb-red;
    }
  }

}