@use '../abstract/variables' as *;

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.transparency-card {
  padding-block: .8rem;
  padding-inline: .8rem;
  background-color: white;
}

.card__title {
  text-transform: uppercase;
  text-align: center;
}