.list-container {
  container: list-container / inline-size;
}

.no-bullet {
  list-style-type: none;
}

@container list-container (width > 500px) {
  .two-col-list {
    column-count: 2;
    column-gap: 1rem;
  }
}

