body {
  //display: grid;
  //place-items: center;
  min-height: 100vh;
  margin-top: 5rem;
  //background-color: cornsilk;

}

.wrapper {
  max-width: 45.625rem;
  padding: 2rem 1rem 1rem 1.7rem;
  //max-width: 42.5rem;
  /*max-width: 68.75rem;
  margin-inline: auto;*/
}