// Colors
$etb-red: #dd4452;
$etb-blue: #142654; // rgba(20, 38, 84, 1)
$etb-green: #28a745;
$etb-blue-secondary: #0079C0; // rgba(0, 121, 192, 1)

$white: #fff;

$grey-normal: #888888;
$grey-dark: #555;

// Background
$bg-card: #cdd4e7;

// Box shadows
$bs-caravan: 0 2px 2px #d8d8d8;

// Buttons
// #009ece rgba(0, 158, 206, 1)

$et-prop-heading: #005692;
$etb-prop-infra-200: #a1d4c6;
$etb-prop-infra-400: #69c0ac;
$etb-prop-rep-200: #f29268;
$etb-prop-rep-400: #eb5c2e;
$etb-prop-plt-200: #b1afd8;
$etb-prop-plt-400: #908dc4;
$etb-prop-prev-200: #b9d36c;
$etb-prop-prev-400: #95c11f;
$etb-prop-txt: #b2b2b2;


$etb-mr: #305486;
$etb-ecolo-groen: #06ae57;
$etb-ps-vooruit: #ff001a;
$etb-engages: #00e6d2;
$etb-ptb-pvda: #b61f1b;


// Tints
$hue-blue: 210;
$hue-green: 96;
$hue-amber: 37;


