// Colors
$etb-red: hsl(355, 69%, 57%); // #dd4452
$etb-blue: hsl(223, 62%, 20%); // #142654 rgba(20, 38, 84, 1)
$etb-green: hsl(134, 61%, 41%); // #28a745
$etb-blue-secondary: hsl(202, 100%, 38%); // #0079C0 rgba(0, 121, 192, 1)

$white: hsl(0, 0%, 100%);
$grey-normal: hsl(0, 0%, 53%);
$grey-dark: hsl(0, 0%, 33%);

// Background
$bg-card: hsl(224, 34%, 85%);
$bg-website: hsl(216, 22%, 99%); //#f1f3f6

// Box shadows
$bs-caravan: 0 2px 2px hsl(0, 0%, 85%);

// Tints
$hue-blue: 210;
$hue-teal: 174;
$hue-green: 96;
$hue-amber: 37;

// fonts family
$ett-font-family: AkkuratPro-Regular,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";


